name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CI: true
  ROAM_DEBUG: true
  ROAM_TEST_REPORT: false
  ROAM_WAIT_TIME: 500

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        version: [v0.9.2, v0.9.4, v0.9.5, nightly]
        os: [ubuntu-latest]
        include:
          - os: windows-latest
            version: v0.9.5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        id: neovim
        with:
          neovim: true
          version: ${{ matrix.version }}
      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 3
          max_attempts: 5
          command: make test
