name: tests

on:
  push:
    branches:
      - main
    paths:
      - "lua/**"
      - "spec/**"
      - ".github/workflows/tests.yml"
  pull_request:
    branches:
      - main
    paths:
      - "lua/**"
      - "spec/**"
      - ".github/workflows/tests.yml"

env:
  CI: true
  ROAM_DEBUG: true
  ROAM_TEST_REPORT: true
  ROAM_WAIT_TIME: 500

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check lua/ spec/
  tests:
    strategy:
      fail-fast: false
      matrix:
        # NOTE: Nightly disabled until neovim/neovim#30792 is fixed!
        #       Once it is fixed, add "nightly" back to version list.
        version: [v0.11.0, v0.11.1, v0.11.2, v0.11.3, v0.11.4, nightly]
        os: [ubuntu-latest]
        include:
          - os: windows-latest
            version: v0.11.4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        id: neovim
        with:
          neovim: true
          version: ${{ matrix.version }}
      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 10
          command: make test
